header {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 24px;
  height: 100vh;
  transition: background 0.5s ease, color 0.5s ease;
  overflow: hidden;
  margin: 1rem 2rem;
}

/* Texto título zona horaria */
body.night .clock-container-timezone-title{
  color: rgb(179, 230, 245);
  font-size: 20px;
}

body.day .clock-container-timezone-title{
  color: wheat;
  font-size: 20px;
}
#countryDisplay{
  font-size: 37px;
   font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
}

/*MODO NOCHE */
body.night {
  background: linear-gradient(to bottom, #090942, #242475, #4161C2);
  animation: fadeBackground 2s ease forwards;
  color: #FFE2AC;
}
body.night .clock-container{
  color: #FFE2AC;
}
body.night .clock-container-country{
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 37px;
}

body.day #countryInput{
  background-color: #3E7FE82E;
  border-radius: 20px;
  opacity: 81%;
  border: 1px solid #ffffff;
  color: #3E7FE8;
  width: 300px;
  height: 41px;
  padding-left: 1rem;
}

body.night #countryInput{
  border-radius: 20px;
  opacity: 81%;
  border: 1px solid #ffffff;
  color: #BBBDF0;
  width: 300px;
  height: 41px;
  background-color: #18185F2E;
  padding-left: 1rem;
}



body.day #countryInput::placeholder{
  color: #3E7FE8;
  text-align:start;
}

body.night #countryInput::placeholder{
  color: #FFFCF7CF;
  text-align:start;
}

body.day #country{
  background-color: #3E7FE82E;
  border-radius: 20px;
  opacity: 81%;
  border-color: #FFFCF7;
  font-size: 18px;
  padding: 6px;
  text-align: center;
  color: #3E7FE8;
  width: 317px;
  height: 41px;
}



body.night #country{
  background-color: #18185F2E;
  border-radius: 20px;
  opacity: 81%;
  border-color: #FFFCF7;
  color: #FFFCF7CF;
  font-size: 18px;
  padding: 6px;
   width: 317px;
  height: 41px;
  text-align: center;
  
}

body.night .timeZone-select option {
  background-color: #090942; 
  color: #ffffff; 

}

/*MODO DÍA */
body.day {
  background: linear-gradient(to bottom, #2C6DD6, #6BB9F4, #FFF4DC);
  color:#3E7FE8;
}

body.day .clock-container{
  color: #FFFEDB;
  animation: fadeBackground 2s ease forwards;
}

/* Fade-in del fondo */
@keyframes fadeBackground {
  from { opacity: 7; }
  to { opacity: 1; }
}

.clouds {
  position: relative
}

.cloud-left {
  position: absolute;
  top: -132px;
  left: -56px;
  width: 377px;
  height: auto;
  animation: moveCloudLeft 2s ease forwards;
  opacity: 0;
}

.cloud-right {
  position: absolute;
  top: -346px;
  right: -23px;
  width: 377px;
  height: auto;
  animation: moveCloudRight 2s ease forwards;
  opacity: 0;
}

@keyframes moveCloudLeft {
  from { transform: translateX(-200px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes moveCloudRight {
  from { transform: translateX(200px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.clock-section {
  display: flex;
  justify-content: center;
}

.clock-container {
  width: 100vw;
}

.clock-container-clock {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.clock-container-timezone img {
  width: 64px;
  height: auto;
  margin-right: 10px;
}

.clock-container-clock img {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 384px;
}

.clock-container-clock-hour {
  text-align: center;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 0px 0px;
}

.timeZone-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeZone-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
